
.App header {
  background: #000;
  padding: 17px 60px;
  box-shadow: 2px 4px 8px rgb(0 0 0 / 15%);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.logo {
  font-weight: bolder;
  color: #fff;
  font-size: 20px;
}

.dashboard {
  padding-top: 60px;
  margin: 0 200px;
  text-align: center;
  margin-bottom: 50px;
}

.anime-list {
  display: flex;
  flex-wrap: wrap;
}
.anime {
      max-width: 200px;
      display: inline-block;
      position: relative;
      box-shadow: 3px -1px 8px rgb(0 0 0 / 28%);
      border-radius: 4px;
      flex: 1 0 18%;
      margin: 15px;
}

.anime img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.anime h4 {
  background: #f7f7f7;
  color: #000;
  margin: -5px 0 0 0;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-box {
  margin: 10px auto;
  width: 300px;
}

.search-box input {
  padding: 5px;
  width: 250px;
}


button.load-more {
  padding: 10px 30px;
  background: #73baed;
  border: 1px solid #055cdf;
  text-align: center;
  cursor: pointer;
}

button.load-more:hover {
  background: #436599;
  transition: .3s linear;
}